<!DOCTYPE html>
<html>
<head>
  <title>PokemonGoNoti</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS5UtuN8AVWYT2JSfnt940ejl-67tcGCk&callback=initMap">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
